.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: #171717;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
}

.texts-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 50%;
  font-size: 3rem;
  overflow: hidden;
  font-weight: 800;
  opacity: 0;
  color: white;
}

/* Media queries for responsive design */
@media (max-width: 640px) {
  /* Mobile */
  .texts-container {
    display: flex;
    justify-content: center;
    font-size: 1rem; /* 16px */
    width: 90%;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  /* Tablets */
  .texts-container {
    display: flex;
    justify-content: center;
    font-size: 1.5rem; /* 24px */
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Small laptops */
  .texts-container {
    display: flex;
    justify-content: center;
    font-size: 2rem; /* 32px */
    width: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops */
  .texts-container {
    display: flex;
    justify-content: center;
    font-size: 2.5rem; /* 40px */
    width: 60%;
  }
}

@media (min-width: 1281px) and (max-width: 1536px) {
  /* Desktops */
  .texts-container {
    display: flex;
    justify-content: center;
    font-size: 3rem; /* 48px */
    width: 50%;
  }
}

@media (min-width: 1537px) {
  /* XL and 2XL screens */
  .texts-container {
    font-size: 3.5rem; /* 56px */
    width: 40%;
  }
}
