@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  background-color: #171717;
  @apply bg-[#171717] bg-center bg-no-repeat bg-cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../public/space.jpg);
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
  }
}
