@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  @apply bg-[#171717] bg-center bg-no-repeat;
  background-image: url(../public/space.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    @apply bg-scroll;
  }
}

@media (max-height: 500px) {
  body {
    background-size: contain;
  }
}
