@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply bg-[#171717] bg-center bg-no-repeat bg-cover;
  background-image: url("../public/space.jpg");
  min-height: 100vh;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
