/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #171717;
  background-image: url(../public/space.jpg);
  @apply bg-center bg-no-repeat bg-cover;

  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-size: auto;
    background-position: center top;
  }
}

@media (min-width: 769px) {
  body {
    background-size: cover;
    background-position: center;
  }
}
