@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  @apply bg-[#171717] bg-center bg-no-repeat;
  background-attachment: fixed;
  background-image: url(../public/space.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-attachment: scroll; /* Change the attachment to scroll to prevent zoom-in issues on mobile */
  }
}
