@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  background-color: #171717;
  @apply bg-[#171717] bg-center bg-no-repeat bg-cover;
  background-attachment: fixed;

  background-image: url(../public/space.jpg);
}
