@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #171717;
  @apply bg-center bg-no-repeat bg-cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../public/space.jpg);
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 768px) {
  body {
    background-attachment: scroll; /* Ensure better compatibility on mobile */
  }
}
