@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  @apply bg-[#171717] bg-center bg-no-repeat;
  background-image: url(../public/space.jpg);
  background-size: cover;
  background-attachment: scroll; /* Change the attachment to scroll for better mobile compatibility */
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed; /* Set attachment to fixed for larger screens */
  }
}
