@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  background-color: #171717;
  @apply bg-[#171717] bg-center bg-no-repeat bg-cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../public/space.jpg);

  -webkit-background-size: cover; /* Safari 6.1+ */
  -moz-background-size: cover; /* Firefox 4+ */
  -o-background-size: cover; /* Opera 10.5+ */
  background-size: cover; /* Standard */
}
