@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #171717;
  background-attachment: fixed;
  background-position: center;
  background-image: url(/src/assets/images/spaceWebsite.jpg);
  /* background-image: linear-gradient(
    to right,
    rgb(45, 44, 44),
    rgb(138, 138, 129)
  ); */
}
